services:
  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8000 facebuilder.asgi:application
    volumes:
      - .:/app
      - media_data:/app/media
      - static_data:/app/staticfiles
    env_file:
      - .env
    depends_on:
      - redis

  nginx:
    image: nginx:latest
    ports:
      - "8050:8050"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - media_data:/app/media
      - static_data:/app/staticfiles
    depends_on:
      - web

  celery:
    build: .
    command: celery -A facebuilder worker --loglevel=info
    volumes:
      - .:/app
      - media_data:/app/media
    env_file:
      - .env
    depends_on:
      - redis

  celery_beat:
    build: .
    command: celery -A facebuilder beat --loglevel=info --schedule=/tmp/celerybeat-schedule
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:latest
    container_name: facebuilder-redis
    ports:
      - "6379:6379"

volumes:
  media_data:
  static_data: